@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


:root {
    --primary-color: #FBBF24;
    --secondary-color: #E5E7EB;
    --tertiary-color: #FEF3C7;

}


body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

.heading {

    margin-top: 2rem;
    text-align: center;
    font-size: 2rem;
}

main {
    margin: auto;
    text-align: center;
    max-width: 600px;


}

.hero {
    background: url(img/stonks.jpg);
    border-radius: 0.5rem;
    padding: 1.5rem 0rem;
    object-fit: cover;
}

.input {
    font-size: 1.3rem;
}

#subBtn {
    font-size: 1.3rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
}

.message {
    max-width: 80%;
    margin: auto;
    margin-top: 2rem;

}

.hidden {
    display: none;
}